*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
:root{
    --primary-color: rgb(37, 25, 144);
    --segundary-color:rgb(55, 226, 3);
    --text-color:rgb(255, 255, 255);
}
header {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
 
header img {
    width: 15vw;
}

header h1 {
    font-size: 2.5rem;
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.noticias {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.noticia {
    background-color: var(--segundary-color);
    border-radius: 10px;
    width: 300px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section.noticias .noticia img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}